@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@500&display=swap');

body{
  background-color:#F0F6F6;
}

h1,h3 {
  font-family: 'Poppins', sans-serif;
  color: #3083DC;
}

p{
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
}

a{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #3083DC;
}


i{
  font-size: 3rem;
}

i:hover{
  transition: transform .2s;
  transform: scale(1.5);
}

#profile-pic{
  height: 150px;
  width: auto;
  border-radius: 8px;
}

.card, .card-about-me{
  text-align: center;
  background-color: white;
  width: 800px;
  padding: 40px;
  margin: 40px auto;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-blue{
  color: white;
  background-color: #3083DC;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

.btn-blue:active {
  background-color: #2667ac;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
